# Core Flask
Flask==3.1.1
Werkzeug==3.1.3
Flask-SQLAlchemy==3.1.1
Flask-Migrate==4.1.0
SQLAlchemy==2.0.36
Flask-JWT-Extended==4.7.1
Flask-Login==0.6.3
cryptography==45.0.5
Flask-CORS==5.0.0

python-dotenv==1.1.1
gunicorn==23.0.0
psycopg2==2.9.11
pandas
openpyxl
requests